.VigramProfileButton {
    margin:-25px 5px;
    z-index:1;
    float:left;
}

.VigramProfileButton img {
    border-radius: 2px;
    width:0px;
    float:left;
}

#VigramSingleImg {
    margin-top:-50px;
}

#VigramSingleImg img {
    padding:2px;
    width:30px;
    visibility: visible;
}

#VigramSingleImg strong {
    font-weight:bold;
    color:#fff;
    text-shadow:0 1px 0 rgba(3, 27, 47, 0.5);
}

#VineButton img {
    width:42px;
}

.size25 {
    width:25px;
}

.Vcenter {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width:49px;
    height:40px;
}

